# This file specifies untracked files to be ignored in code versioning

## Build
/build

## Development
/node_modules
/.pnp
.pnp.js

## Test
/coverage

## Other
.DS_Store

npm-debug.log*
yarn-debug.log*
yarn-error.log*
